html {
    height: 100%;
    overflow: hidden
}

body {
    height: 100%;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    color: rgba(0, 0, 0, .87);
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    margin: 0;
    text-size-adjust: 100%
}

.container {
    max-width: 978px;
    margin: auto;
}

textarea {
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif
}

a {
    text-decoration: none;
    color: #2962ff
}

img {
    border: none
}

* {
    -webkit-tap-highlight-color: transparent
}

#apps-debug-tracers {
    display: none
}

html {
    overflow: visible
}

body {
    overflow: visible;
    overflow-y: scroll
}

.kFwPee {
    height: 100%
}

.ydMMEb {
    width: 100%
}

.SSPGKf {
    display: block;
    overflow-y: hidden;
    z-index: 1
}

.eejsDc {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

.MCcOAc {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    z-index: 1
}

.MCcOAc>.pGxpHc {
    flex-shrink: 0;
    box-flex: 0;
    flex-grow: 0
}

.IqBfM>.HLlAHb {
    align-items: center;
    display: flex;
    height: 60px;
    position: absolute;
    right: 16px;
    top: 0;
    z-index: 9999
}

.VUoKZ {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
    z-index: 1001
}

.TRHLAc {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background: #68e;
    transform: scaleX(0);
    transform-origin: 0 0
}

.mIM26c .VUoKZ {
    display: block
}

.mIM26c .TRHLAc {
    animation: boqChromeapiPageProgressAnimation 1s infinite;
    animation-timing-function: cubic-bezier(0.4, 0.0, 1, 1);
    animation-delay: .1s
}

.ghyPEc .VUoKZ {
    position: fixed
}

@keyframes boqChromeapiPageProgressAnimation {
    0% {
        transform: scaleX(0)
    }

    50% {
        transform: scaleX(5)
    }

    to {
        transform: scaleX(5) translateX(100%)
    }
}

.IqBfM {
    bottom: auto;
    height: 100%;
    right: auto;
    width: auto
}

:root {
    color-scheme: light
}

.kkY60 {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    will-change: transform;
    z-index: 5000
}

.kkY60[aria-hidden=true] {
    visibility: hidden
}

@media (min-width:1256px) {
    .kkY60 {
        display: none
    }

    .Vffz1c {
        background-color: #fff;
        position: absolute;
        right: 0
    }

    .Vffz1c.qRvogc {
        display: none
    }

    .vQYC9b {
        background-color: #fff;
        border-left: 3px solid rgba(151, 151, 151, .5);
        padding: 2px 0;
        max-width: 287px
    }

    .E7xpyd {
        background-color: #fff;
        box-sizing: border-box;
        display: block;
        float: left;
        height: 36px;
        width: 36px;
        border: 1px solid rgba(151, 151, 151, .5);
        border-radius: 24px;
        margin: 132px 0 0 -16px;
        padding: 4px 0 0 4px
    }

    .UcvFqf {
        display: block
    }

    [dir=rtl] .UcvFqf {
        transform: scaleX(-1)
    }
}

@media (max-width:1255px) {
    .Vffz1c {
        display: none
    }
}

.QM054c .kkY60 {
    display: none
}

.hgRBHd {
    transition: background-color 300ms;
    background-color: rgba(0, 0, 0, 0);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw
}

.QTk2yd {
    right: 0
}

.nWPLyb {
    left: 0
}

.kkY60.sMVRZe .hgRBHd {
    background-color: rgba(0, 0, 0, .54)
}

.Woo1Bb {
    transition: transform 300ms ease-out;
    background-color: #fff;
    box-shadow: 0 8px 17px rgba(0, 0, 0, .2);
    height: 100%;
    overflow: auto
}

.nWPLyb .Woo1Bb {
    transform: translate3d(-104%, 0, 0)
}

.QTk2yd .Woo1Bb {
    transform: translate3d(104%, 0, 0)
}

.kkY60.nWPLyb.sMVRZe .Woo1Bb {
    transform: translate3d(0, 0, 0)
}

.kkY60.QTk2yd .Woo1Bb {
    transform: translate3d(100vw, 0, 0)
}

.kkY60.QTk2yd.sMVRZe .Woo1Bb {
    transform: translate3d(100vw, 0, 0) translateX(-100%)
}

@media screen and (max-width:360px) {
    .kkY60 .Woo1Bb {
        width: 85vw
    }

    .kkY60.sMVRZe .Woo1Bb {
        right: 56px
    }
}

@media screen and (min-width:361px) {
    .kkY60 .Woo1Bb {
        width: 304px
    }
}

.chtwBf {
    outline-style: none
}

.kJPhIf {
    display: inline-block;
    font-size: 1.5rem;
    line-height: 1.29;
    margin: 0
}

.QM054c .sf7Pyf {
    padding: 20px 20px 15px 20px
}

@media (max-width:1255px) {
    .QM054c .sf7Pyf {
        padding: 20px 20px 15px 10px
    }

    .qvoRwc .kJPhIf {
        margin: 14px 0 0 10px
    }
}

.M5ACBc {
    height: auto;
    width: auto
}

.fa3kk {
    display: inline-block;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1;
    margin: 0 7px;
    padding: 0;
    vertical-align: top
}

.fa3kk .YLOOl {
    color: #5f6368;
    font-family: "product sans", "open sans", arial, sans-serif;
    font-weight: 400
}

.a0uB2 {
    display: none
}

@media (max-width:1255px) {
    .a0uB2 {
        color: #5f6368;
        display: block;
        font-family: "Google Sans", sans-serif;
        font-size: 1.25rem;
        font-weight: 400;
        height: 1em;
        letter-spacing: 0;
        line-height: 1.29;
        margin: 0;
        overflow: hidden;
        padding: 13px 8px 8px 5px;
        text-overflow: ellipsis;
        text-transform: none;
        -webkit-user-select: none;
        white-space: nowrap
    }
}

.oTqstd {
    background: #fff;
    border-bottom: 1px solid rgba(151, 151, 151, .5);
    box-sizing: border-box;
    padding: 0 0 0 20px;
    top: 0;
    width: 100%;
    z-index: 2000
}

@media print {
    .oTqstd {
        display: none
    }
}

@media (max-width:1255px) {
    .oTqstd {
        padding: 0
    }
}

.oTqstd .ut53P .YnafU {
    color: #3367d6;
    padding-bottom: 6px
}

.ZXBUEd {
    list-style: none
}

@media (min-width:1256px) {
    .ZXBUEd {
        display: flex;
        margin: 0 0 -1px 0
    }
}

@media (max-width:1255px) {
    .ZXBUEd {
        padding: 0;
        margin: 10px 10px 0 10px
    }

    .QM054c .ZXBUEd {
        margin: 0 10px 0 10px;
        padding-bottom: 10px
    }

    .qvoRwc .ZXBUEd {
        display: none
    }

    .qvoRwc .sweGFb .ZXBUEd {
        display: block;
        margin: 0
    }
}

.ut53P {
    font-family: "Google Sans", sans-serif;
    font-size: 0.9375rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.43;
    margin: 0 42px 0 0;
    padding: 0
}

.sweGFb .ut53P {
    font-size: 0.875rem
}

@media (max-width:1255px) {
    .sweGFb {
        max-width: 80%
    }

    .ut53P,
    .FCn1W,
    .uDi58b {
        border: 0;
        display: inline-block;
        margin: 0 20px 0 0;
        padding: 6px 0
    }

    .sweGFb .ut53P,
    .sweGFb .FCn1W,
    .sweGFb .uDi58b {
        display: block;
        margin: 0;
        padding: 0
    }

    .sweGFb .ut53P {
        box-shadow: 40px 1px 0 0 #e1e1e1;
        margin: 0 0 0 5px
    }
}

.ut53P .MyGDhe,
.FCn1W .MyGDhe,
.uDi58b .MyGDhe {
    color: #5f6368;
    display: inline-block
}

.sweGFb .pjQxKc {
    margin: 0
}

.sweGFb .E7qLl {
    margin: 0 0 0 16px
}

.sweGFb .sf7Pyf {
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    padding: 5px 0 5px 15px
}

.sweGFb .ut53P .MyGDhe,
.sweGFb .FCn1W .MyGDhe,
.sweGFb .uDi58b .MyGDhe {
    color: rgba(0, 0, 0, .87);
    display: block;
    padding: 12px 12px 12px 40px
}

@media (min-width:1256px) {
    .ut53P .MyGDhe {
        padding: 0 0 6px 0
    }

    .QM054c .ut53P .MyGDhe {
        padding: 0 0 10px 0
    }
}

.sweGFb .ut53P .YnafU,
.sweGFb .FCn1W .YnafU,
.sweGFb .uDi58b .YnafU {
    color: #3367d6
}

.sweGFb .alvOm .YnafU {
    background: rgba(70, 131, 240, .25);
    border-radius: 30px 0 0 30px
}

@media (min-width:1256px) {
    .ut53P .YnafU {
        border-bottom: 3px solid #3367d6
    }
}

@media (min-width:1256px) {
    .AEUm4b {
        box-flex: 1;
        flex-grow: 1;
        text-align: right
    }
}

.rFrNMe {
    -webkit-user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    outline: none;
    padding-bottom: 8px;
    width: 200px
}

.aCsJod {
    height: 40px;
    position: relative;
    vertical-align: top
}

.aXBtI {
    display: flex;
    position: relative;
    top: 14px
}

.Xb9hP {
    display: flex;
    box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0%;
    position: relative
}

.A37UZe {
    box-sizing: border-box;
    height: 24px;
    line-height: 24px;
    position: relative
}

.qgcB3c:not(:empty) {
    padding-right: 12px
}

.sxyYjd:not(:empty) {
    padding-left: 12px
}

.whsOnd {
    box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: transparent;
    border: none;
    display: block;
    font: 400 16px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    height: 24px;
    line-height: 24px;
    margin: 0;
    min-width: 0%;
    outline: none;
    padding: 0;
    z-index: 0
}

.rFrNMe.dm7YTc .whsOnd {
    color: #fff
}

.whsOnd:invalid,
.whsOnd:-moz-submit-invalid,
.whsOnd:-moz-ui-invalid {
    box-shadow: none
}

.I0VJ4d>.whsOnd::-ms-clear,
.I0VJ4d>.whsOnd::-ms-reveal {
    display: none
}

.i9lrp {
    background-color: rgba(0, 0, 0, .12);
    bottom: -2px;
    height: 1px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%
}

.i9lrp:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: -2px;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    pointer-events: none
}

.rFrNMe.dm7YTc .i9lrp {
    background-color: rgba(255, 255, 255, .7)
}

.OabDMe {
    transform: scaleX(0);
    background-color: #4285f4;
    bottom: -2px;
    height: 2px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%
}

.rFrNMe.dm7YTc .OabDMe {
    background-color: #a1c2fa
}

.rFrNMe.k0tWj .i9lrp,
.rFrNMe.k0tWj .OabDMe {
    background-color: #d50000;
    height: 2px
}

.rFrNMe.k0tWj.dm7YTc .i9lrp,
.rFrNMe.k0tWj.dm7YTc .OabDMe {
    background-color: #e06055
}

.whsOnd[disabled] {
    color: rgba(0, 0, 0, .38)
}

.rFrNMe.dm7YTc .whsOnd[disabled] {
    color: rgba(255, 255, 255, .5)
}

.whsOnd[disabled]~.i9lrp {
    background: none;
    border-bottom: 1px dotted rgba(0, 0, 0, .38)
}

.OabDMe.Y2Zypf {
    animation: quantumWizPaperInputRemoveUnderline .3s cubic-bezier(0.4, 0, 0.2, 1)
}

.rFrNMe.u3bW4e .OabDMe {
    animation: quantumWizPaperInputAddUnderline .3s cubic-bezier(0.4, 0, 0.2, 1);
    transform: scaleX(1)
}

.rFrNMe.sdJrJc>.aCsJod {
    padding-top: 24px
}

.AxOyFc {
    transform-origin: bottom left;
    transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, bottom, transform;
    -webkit-transition-property: color, bottom, transform, -webkit-transform;
    transition-property: color, bottom, transform, -webkit-transform;
    color: rgba(0, 0, 0, .38);
    font: 400 16px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 16px;
    pointer-events: none;
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%
}

.whsOnd:not([disabled]):focus~.AxOyFc,
.whsOnd[badinput=true]~.AxOyFc,
.rFrNMe.CDELXb .AxOyFc,
.rFrNMe.dLgj8b .AxOyFc {
    transform: scale(0.75) translateY(-39px)
}

.whsOnd:not([disabled]):focus~.AxOyFc {
    color: #3367d6
}

.rFrNMe.dm7YTc .whsOnd:not([disabled]):focus~.AxOyFc {
    color: #a1c2fa
}

.rFrNMe.k0tWj .whsOnd:not([disabled]):focus~.AxOyFc {
    color: #d50000
}

.ndJi5d {
    color: rgba(0, 0, 0, .38);
    font: 400 16px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    max-width: 100%;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    text-overflow: ellipsis;
    top: 2px;
    left: 0;
    white-space: nowrap
}

.rFrNMe.CDELXb .ndJi5d {
    display: none
}

.K0Y8Se {
    -webkit-tap-highlight-color: transparent;
    font: 400 12px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    height: 16px;
    margin-left: auto;
    padding-left: 16px;
    padding-top: 8px;
    pointer-events: none;
    opacity: .3;
    white-space: nowrap
}

.rFrNMe.dm7YTc .AxOyFc,
.rFrNMe.dm7YTc .K0Y8Se,
.rFrNMe.dm7YTc .ndJi5d {
    color: rgba(255, 255, 255, .7)
}

.rFrNMe.Tyc9J {
    padding-bottom: 4px
}

.dEOOab,
.ovnfwe:not(:empty) {
    -webkit-tap-highlight-color: transparent;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    font: 400 12px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    min-height: 16px;
    padding-top: 8px
}

.LXRPh {
    display: flex
}

.ovnfwe {
    pointer-events: none
}

.dEOOab {
    color: #d50000
}

.rFrNMe.dm7YTc .dEOOab,
.rFrNMe.dm7YTc.k0tWj .whsOnd:not([disabled]):focus~.AxOyFc {
    color: #e06055
}

.ovnfwe {
    opacity: .3
}

.rFrNMe.dm7YTc .ovnfwe {
    color: rgba(255, 255, 255, .7);
    opacity: 1
}

.rFrNMe.k0tWj .ovnfwe,
.rFrNMe:not(.k0tWj) .ovnfwe:not(:empty)+.dEOOab {
    display: none
}

@keyframes quantumWizPaperInputRemoveUnderline {
    0% {
        transform: scaleX(1);
        opacity: 1
    }

    to {
        transform: scaleX(1);
        opacity: 0
    }
}

@keyframes quantumWizPaperInputAddUnderline {
    0% {
        transform: scaleX(0)
    }

    to {
        transform: scaleX(1)
    }
}

@media screen {
    .N6CPUe {
        background: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='rgb(51, 103, 214)'%3E%3Cpath d='M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z'/%3E%3C/svg%3E") right/12px no-repeat;
        padding-right: 14px
    }

    [dir=rtl] .N6CPUe {
        background: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' transform='scale(-1,1)' fill='rgb(51, 103, 214)'%3E%3Cpath d='M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z'/%3E%3C/svg%3E") left/12px no-repeat
    }
}

.X75z6e {
    color: #bdc1c6
}

@media (max-width:647px) {
    .X75z6e {
        display: block;
        visibility: hidden;
        height: 12px
    }
}

.O3bgpc {
    height: 0;
    overflow: hidden;
    padding-bottom: 56%;
    position: relative;
    width: 100%
}

@media print {
    .O3bgpc {
        display: none
    }
}

.Ylcf5b {
    border: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0
}

.M3GAob {
    margin-bottom: 24px
}

@media (min-width:648px) {
    .M3GAob {
        border: 1px solid rgba(151, 151, 151, .2)
    }
}

.ahbJ5 {
    display: block;
    position: relative;
    visibility: hidden
}

@media (min-width:1256px) {
    .V4Yzye .ahbJ5 {
        top: -134px
    }
}

@media (min-width:648px) and (max-width:1255px) {
    .qvoRwc .V4Yzye .ahbJ5 {
        top: -94px
    }
}

@media (max-width:647px) {
    .qvoRwc .V4Yzye .ahbJ5 {
        top: -58px
    }
}

.kVoTn .PbnGhe {
    word-break: break-word
}

.Ih2lSe {
    background: #f6f9ff;
    border-radius: 4px;
    display: block;
    margin: 20px 0 0 0;
    max-width: max-content;
    padding: 20px
}

@media print {
    .Ih2lSe {
        display: none
    }
}

.kC4dlc {
    word-break: break-all;
    padding-top: 10px;
    font-size: .875rem
}

.i0zube {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    margin-right: 6px;
    vertical-align: middle
}

.FKF6mc,
.FKF6mc:focus {
    display: block;
    outline: none;
    text-decoration: none
}

.FKF6mc:visited {
    fill: inherit;
    stroke: inherit
}

.U26fgb.u3bW4e {
    outline: 1px solid transparent
}

@keyframes quantumWizBoxInkSpread {
    0% {
        transform: translate(-50%, -50%) scale(0.2)
    }

    to {
        transform: translate(-50%, -50%) scale(2.2)
    }
}

@keyframes quantumWizIconFocusPulse {
    0% {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 0
    }

    to {
        transform: translate(-50%, -50%) scale(2);
        opacity: 1
    }
}

@keyframes quantumWizRadialInkSpread {
    0% {
        transform: scale(1.5);
        opacity: 0
    }

    to {
        transform: scale(2.5);
        opacity: 1
    }
}

@keyframes quantumWizRadialInkFocusPulse {
    0% {
        transform: scale(2);
        opacity: 0
    }

    to {
        transform: scale(2.5);
        opacity: 1
    }
}

.O0WRkf {
    -webkit-user-select: none;
    transition: background .2s .1s;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    min-width: 4em;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    -webkit-tap-highlight-color: transparent;
    z-index: 0
}

.A9jyad {
    font-size: 13px;
    line-height: 16px
}

.zZhnYe {
    transition: box-shadow .28s cubic-bezier(0.4, 0, 0.2, 1);
    background: #dfdfdf;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .14), 0px 3px 1px -2px rgba(0, 0, 0, .12), 0px 1px 5px 0px rgba(0, 0, 0, .2)
}

.zZhnYe.qs41qe {
    transition: box-shadow .28s cubic-bezier(0.4, 0, 0.2, 1);
    transition: background .8s;
    box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, .14), 0px 3px 14px 2px rgba(0, 0, 0, .12), 0px 5px 5px -3px rgba(0, 0, 0, .2)
}

.e3Duub,
.e3Duub a,
.e3Duub a:hover,
.e3Duub a:link,
.e3Duub a:visited {
    background: #4285f4;
    color: #fff
}

.HQ8yf,
.HQ8yf a {
    color: #4285f4
}

.UxubU,
.UxubU a {
    color: #fff
}

.ZFr60d {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent
}

.O0WRkf.u3bW4e .ZFr60d {
    background-color: rgba(0, 0, 0, .12)
}

.UxubU.u3bW4e .ZFr60d {
    background-color: rgba(255, 255, 255, .3)
}

.e3Duub.u3bW4e .ZFr60d {
    background-color: rgba(0, 0, 0, 0.122)
}

.HQ8yf.u3bW4e .ZFr60d {
    background-color: rgba(66, 133, 244, .15)
}

.Vwe4Vb {
    transform: translate(-50%, -50%) scale(0);
    transition: opacity .2s ease, visibility 0s ease .2s, transform 0s ease .2s;
    -webkit-transition: opacity .2s ease, visibility 0s ease .2s, transform 0s ease .2s, -webkit-transform 0s ease .2s;
    transition: opacity .2s ease, visibility 0s ease .2s, transform 0s ease .2s, -webkit-transform 0s ease .2s;
    background-size: cover;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    visibility: hidden
}

.O0WRkf.qs41qe .Vwe4Vb {
    transform: translate(-50%, -50%) scale(2.2);
    opacity: 1;
    visibility: visible
}

.O0WRkf.qs41qe.M9Bg4d .Vwe4Vb {
    -webkit-transition: opacity .2s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0, 0, 0.2, 1);
    -webkit-transition: opacity .2s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0, 0, 0.2, 1);
    transition: opacity .2s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0, 0, 0.2, 1);
    transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1), opacity .2s cubic-bezier(0, 0, 0.2, 1);
    -webkit-transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1), opacity .2s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0, 0, 0.2, 1);
    transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1), opacity .2s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0, 0, 0.2, 1)
}

.O0WRkf.j7nIZb .Vwe4Vb {
    transform: translate(-50%, -50%) scale(2.2);
    visibility: visible
}

.oG5Srb .Vwe4Vb,
.zZhnYe .Vwe4Vb {
    background-image: radial-gradient(circle farthest-side, rgba(0, 0, 0, .12), rgba(0, 0, 0, .12) 80%, rgba(0, 0, 0, 0) 100%)
}

.HQ8yf .Vwe4Vb {
    background-image: radial-gradient(circle farthest-side, rgba(66, 133, 244, .25), rgba(66, 133, 244, .25) 80%, rgba(66, 133, 244, 0) 100%)
}

.e3Duub .Vwe4Vb {
    background-image: radial-gradient(circle farthest-side, #3367d6, #3367d6 80%, rgba(51, 103, 214, 0) 100%)
}

.UxubU .Vwe4Vb {
    background-image: radial-gradient(circle farthest-side, rgba(255, 255, 255, .3), rgba(255, 255, 255, .3) 80%, rgba(255, 255, 255, 0) 100%)
}

.O0WRkf.RDPZE {
    box-shadow: none;
    color: rgba(68, 68, 68, 0.502);
    cursor: default;
    fill: rgba(68, 68, 68, 0.502)
}

.zZhnYe.RDPZE {
    background: rgba(153, 153, 153, .1)
}

.UxubU.RDPZE {
    color: rgba(255, 255, 255, 0.502);
    fill: rgba(255, 255, 255, 0.502)
}

.UxubU.zZhnYe.RDPZE {
    background: rgba(204, 204, 204, .1)
}

.CwaK9 {
    position: relative
}

.RveJvd {
    display: inline-block;
    margin: .5em
}

.mUbCce {
    -webkit-user-select: none;
    transition: background .3s;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    flex-shrink: 0;
    height: 48px;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    width: 48px;
    z-index: 0
}

.mUbCce>.TpQm9d {
    height: 48px;
    width: 48px
}

.mUbCce.u3bW4e,
.mUbCce.qs41qe,
.mUbCce.j7nIZb {
    -webkit-transform: translateZ(0);
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%)
}

.YYBxpf {
    border-radius: 0;
    overflow: visible
}

.YYBxpf.u3bW4e,
.YYBxpf.qs41qe,
.YYBxpf.j7nIZb {
    -webkit-mask-image: none
}

.fKz7Od {
    color: rgba(0, 0, 0, .54);
    fill: rgba(0, 0, 0, .54)
}

.p9Nwte {
    color: rgba(255, 255, 255, .75);
    fill: rgba(255, 255, 255, .75)
}

.fKz7Od.u3bW4e {
    background-color: rgba(0, 0, 0, .12)
}

.p9Nwte.u3bW4e {
    background-color: rgba(204, 204, 204, .25)
}

.YYBxpf.u3bW4e {
    background-color: transparent
}

.VTBa7b {
    transform: translate(-50%, -50%) scale(0);
    transition: opacity .2s ease, visibility 0s ease .2s, transform 0s ease .2s;
    -webkit-transition: opacity .2s ease, visibility 0s ease .2s, transform 0s ease .2s, -webkit-transform 0s ease .2s;
    transition: opacity .2s ease, visibility 0s ease .2s, transform 0s ease .2s, -webkit-transform 0s ease .2s;
    background-size: cover;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    visibility: hidden
}

.YYBxpf.u3bW4e .VTBa7b {
    animation: quantumWizIconFocusPulse .7s infinite alternate;
    height: 100%;
    left: 50%;
    top: 50%;
    width: 100%;
    visibility: visible
}

.mUbCce.qs41qe .VTBa7b {
    transform: translate(-50%, -50%) scale(2.2);
    opacity: 1;
    visibility: visible
}

.mUbCce.qs41qe.M9Bg4d .VTBa7b {
    -webkit-transition: opacity .2s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0, 0, 0.2, 1);
    -webkit-transition: opacity .2s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0, 0, 0.2, 1);
    transition: opacity .2s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0, 0, 0.2, 1);
    transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1), opacity .2s cubic-bezier(0, 0, 0.2, 1);
    -webkit-transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1), opacity .2s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0, 0, 0.2, 1);
    transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1), opacity .2s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0, 0, 0.2, 1)
}

.mUbCce.j7nIZb .VTBa7b {
    transform: translate(-50%, -50%) scale(2.2);
    visibility: visible
}

.fKz7Od .VTBa7b {
    background-image: radial-gradient(circle farthest-side, rgba(0, 0, 0, .12), rgba(0, 0, 0, .12) 80%, rgba(0, 0, 0, 0) 100%)
}

.p9Nwte .VTBa7b {
    background-image: radial-gradient(circle farthest-side, rgba(204, 204, 204, .25), rgba(204, 204, 204, .25) 80%, rgba(204, 204, 204, 0) 100%)
}

.mUbCce.RDPZE {
    color: rgba(0, 0, 0, .26);
    fill: rgba(0, 0, 0, .26);
    cursor: default
}

.p9Nwte.RDPZE {
    color: rgba(255, 255, 255, 0.502);
    fill: rgba(255, 255, 255, 0.502)
}

.xjKiLb {
    position: relative;
    top: 50%
}

.xjKiLb>span {
    display: inline-block;
    position: relative
}

.llhEMd {
    transition: opacity .15s cubic-bezier(0.4, 0, 0.2, 1) .15s;
    background-color: rgba(0, 0, 0, 0.502);
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5000
}

.llhEMd.iWO5td {
    transition: opacity .05s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1
}

.mjANdc {
    transition: transform .4s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: transform .4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform .4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform .4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform .4s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-box-align: center;
    box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    flex-direction: column;
    bottom: 0;
    left: 0;
    padding: 0 5%;
    position: absolute;
    right: 0;
    top: 0
}

.x3wWge,
.ONJhl {
    display: block;
    height: 3em
}

.eEPege>.x3wWge,
.eEPege>.ONJhl {
    box-flex: 1;
    flex-grow: 1
}

.J9Nfi {
    flex-shrink: 1;
    max-height: 100%
}

.g3VIld {
    -webkit-box-align: stretch;
    box-align: stretch;
    align-items: stretch;
    display: flex;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    flex-direction: column;
    transition: transform .225s cubic-bezier(0, 0, 0.2, 1);
    -webkit-transition: transform .225s cubic-bezier(0, 0, 0.2, 1), -webkit-transform .225s cubic-bezier(0, 0, 0.2, 1);
    transition: transform .225s cubic-bezier(0, 0, 0.2, 1), -webkit-transform .225s cubic-bezier(0, 0, 0.2, 1);
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24);
    max-width: 24em;
    outline: 1px solid transparent;
    overflow: hidden
}

.vcug3d .g3VIld {
    padding: 0
}

.g3VIld.kdCdqc {
    transition: transform .15s cubic-bezier(0.4, 0, 1, 1);
    -webkit-transition: transform .15s cubic-bezier(0.4, 0, 1, 1), -webkit-transform .15s cubic-bezier(0.4, 0, 1, 1);
    transition: transform .15s cubic-bezier(0.4, 0, 1, 1), -webkit-transform .15s cubic-bezier(0.4, 0, 1, 1)
}

.Up8vH.CAwICe {
    transform: scale(0.8)
}

.Up8vH.kdCdqc {
    transform: scale(0.9)
}

.vcug3d {
    -webkit-box-align: stretch;
    box-align: stretch;
    align-items: stretch;
    padding: 0
}

.vcug3d>.g3VIld {
    box-flex: 2;
    flex-grow: 2;
    border-radius: 0;
    left: 0;
    right: 0;
    max-width: 100%
}

.vcug3d>.ONJhl,
.vcug3d>.x3wWge {
    box-flex: 0;
    flex-grow: 0;
    height: 0
}

.tOrNgd {
    display: flex;
    flex-shrink: 0;
    font: 500 20px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    padding: 24px 24px 20px 24px
}

.vcug3d .tOrNgd {
    display: none
}

.TNczib {
    box-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-shrink: 0;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .24);
    background-color: #455a64;
    color: white;
    display: none;
    font: 500 20px Roboto, RobotoDraft, Helvetica, Arial, sans-serif
}

.vcug3d .TNczib {
    display: flex
}

.PNenzf {
    box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    word-wrap: break-word
}

.TNczib .PNenzf {
    margin: 16px 0
}

.VY7JQd {
    height: 0
}

.TNczib .VY7JQd,
.tOrNgd .bZWIgd {
    display: none
}

.R6Lfte .Wtw8H {
    flex-shrink: 0;
    display: block;
    margin: -12px -6px 0 0
}

.PbnGhe {
    box-flex: 2;
    flex-grow: 2;
    flex-shrink: 2;
    display: block;
    font: 400 14px/20px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    padding: 0 24px;
    overflow-y: auto
}

.Whe8ub .PbnGhe {
    padding-top: 24px
}

.hFEqNb .PbnGhe {
    padding-bottom: 24px
}

.vcug3d .PbnGhe {
    padding: 16px
}

.XfpsVe {
    display: flex;
    flex-shrink: 0;
    box-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    padding: 24px 24px 16px 24px
}

.vcug3d .XfpsVe {
    display: none
}

.OllbWe {
    box-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    display: none
}

.vcug3d .OllbWe {
    display: flex;
    -webkit-box-align: start;
    box-align: start;
    align-items: flex-start;
    margin: 0 16px
}

.kHssdc.O0WRkf.C0oVfc,
.XfpsVe .O0WRkf.C0oVfc {
    min-width: 64px
}

.kHssdc+.kHssdc {
    margin-left: 8px
}

.TNczib .kHssdc {
    color: #fff;
    margin-top: 10px
}

.TNczib .Wtw8H {
    margin: 4px 24px 4px 0
}

.TNczib .kHssdc.u3bW4e,
.TNczib .Wtw8H.u3bW4e {
    background-color: rgba(204, 204, 204, .25)
}

.TNczib .kHssdc>.Vwe4Vb,
.TNczib .Wtw8H>.VTBa7b {
    background-image: radial-gradient(circle farthest-side, rgba(255, 255, 255, .3), rgba(255, 255, 255, .3) 80%, rgba(255, 255, 255, 0) 100%)
}

.TNczib .kHssdc.RDPZE,
.TNczib .Wtw8H.RDPZE {
    color: rgba(255, 255, 255, .5);
    fill: rgba(255, 255, 255, .5)
}

.C0oVfc {
    line-height: 20px;
    min-width: 88px
}

.C0oVfc .RveJvd {
    margin: 8px
}

.fb0g6 {
    position: relative
}

@media (max-width:319px) {

    .fHKvqc .J9fJmf,
    .fHKvqc .qRUolc {
        padding: 12px
    }
}

c-wiz {
    contain: style
}

c-wiz>c-data {
    display: none
}

c-wiz.rETSD {
    contain: none
}

c-wiz.Ubi8Z {
    contain: layout style
}

@media print {
    .SGBcfd {
        display: none
    }
}

.Uh4Mac {
    background: #f5f5f5;
    border-top: 1px solid #eee;
    font-size: 0.6875rem;
    line-height: 2.19;
    list-style: none;
    padding: 10px 15px 10px 15px;
    height: fit-content;
    max-height: 100px
}

@media (min-width:761px) {
    .Uh4Mac {
        height: 24px
    }
}

.JzIyE {
    margin: auto;
    max-width: 978px
}

.Fq8qrb {
    background: transparent url("data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAMAAAAMs7fIAAAABGdBTUEAALGPC/xhBQAAAFpQTFRFAAAAc8b%2BeNj%2BeLL7lt3/YbL4cs/9rNn8p9b7%2Bfn5hdD/a8D/7vD/vOL9itf%2B////3PD%2Byuj9R6348Pb7KZz2UL78MKL3Oqv4Zsz/ndX8qN/%2BI5T0S7X4W8b9mmuivQAAAAF0Uk5TAEDm2GYAAACXSURBVBjTXYqLEsIwCARR%2B27zpCFNxP//TSGOTu3OhDs2wGaPM9bD8hKGMDtnDq130GkxDK/BY/tVc6CtXa21Q72ClFKoqUrINBLAzHP9grKpccxFYmqNIcY4j%2BXDiLJBztmUXCRkGgkgIsZbO1kwEjVDKwYmDriSGt6FPHrnp6x1Bd/vzxP9Bj8mFfBH2K8Gtng1AA95bxQhE7o%2B68UQAAAAAElFTkSuQmCC") left center no-repeat;
    padding: 10px 0 10px 24px
}

.QM054c .Fq8qrb {
    display: none
}

@media (min-width:761px) {
    .Fq8qrb {
        float: right;
        padding: 0 0 0 24px
    }
}

.gZggid {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px
}

.iCthae {
    line-height: 3.08;
    margin: -10px 0
}

.v9octc {
    background-color: #38383b;
    border-color: rgb(218, 220, 224);
    color: rgb(32, 33, 36);
    line-height: 3.08;
    margin: -10px 0
}

.mlNJof {
    margin: 0
}

.ad72vb {
    display: inline;
    font-weight: 300;
    letter-spacing: 0;
    padding: 0
}

.ad72vb:not(:first-child):before {
    content: "\0000b7";
    padding: 0 5px
}

.JzIyE .KZ3Wad,
.JzIyE .KZ3Wad:hover {
    color: rgba(61, 61, 61, .8)
}

@media print {
    .pGxpHc {
        display: none
    }
}

.QM054c .pGxpHc,
.VjFXz {
    display: none
}

body,
h1 {
    font-family: Roboto, arial, sans-serif
}

h2,
h3 {
    font-family: "Google Sans", sans-serif
}

body {
    -webkit-overflow-scrolling: touch;
    background-color: #fff;
    color: rgba(0, 0, 0, .87);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.54
}

@supports (-webkit-touch-callout: none) {
    body.t8dkQe {
        font: -apple-system-body
    }
}

h1 {
    color: #3c4043;
    display: inline-block;
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: .8px;
    line-height: 1.667;
    margin: 1.236em 0 .618em 0;
    text-transform: uppercase
}

div[role=article]>h1:first-child {
    margin-top: 0
}

h1+h2,
h2+h3,
h3+h2 {
    padding-top: 24px
}

h2 {
    color: #3c4043;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.333;
    margin: 0;
    padding: 64px 0 0 0
}

h3 {
    color: #3c4043;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.444;
    margin: 0;
    padding: 52px 0 0 0
}

h4 {
    font-size: 0.875rem;
    font-weight: 500;
    margin: 3.236em 0 .618em
}

p,
.v7NWSe {
    line-height: 1.714;
    padding-top: 20px
}

p,
.v7NWSe,
pre,
table {
    margin: 10px 0
}

h1+p,
h2+p,
h3+p,
h4+p,
h5+p,
h6+p,
h1+.v7NWSe,
h2+.v7NWSe,
h3+.v7NWSe,
h4+.v7NWSe,
h5+.v7NWSe,
h6+.v7NWSe {
    margin-top: 0
}

strong {
    color: #212121;
    font-weight: 500
}

em {
    font-style: normal
}

i {
    font-style: normal;
    font-weight: 500
}

a,
a:hover,
a:visited {
    color: #3367d6
}

ul,
ol {
    margin: 0 0 0 16px;
    padding: 0
}

li {
    line-height: 1.714;
    padding-left: 16px;
    padding-top: 20px
}

ol>li>ol {
    list-style: lower-alpha
}

ul ul {
    padding-left: 16px;
    list-style-type: disc
}

pre,
code {
    color: #060;
    font: 13px/1.54 "courier new", courier, monospace
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 0.875rem
}

tr {
    background-color: #fafafa
}

tr:nth-of-type(even) {
    background-color: #fff
}

th {
    background-color: #f5f5f5;
    text-align: left;
    border: 1px solid #eee;
    padding: 4px 12px;
    vertical-align: top
}

td {
    border: 1px solid #eee;
    padding: 4px 12px;
    vertical-align: top
}

ins,
ins * {
    background-color: #9f9;
    text-decoration: none;
    background-clip: content-box
}

del,
del * {
    background-color: #faa;
    background-clip: content-box
}

hr {
    border: 0;
    border-bottom: 1px solid rgba(151, 151, 151, .5);
    margin: 24px 0 24px 0
}

@media screen {
    body .kFwPee {
        display: flex;
        flex-direction: column;
        height: auto;
        min-height: 100vh
    }
}

.BWB3mf {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: calc(100vh - 89px)
}

@media (min-width:761px) {
    .BWB3mf {
        min-height: calc(100vh - 45px)
    }
}

.tk9x4e {
    display: flex;
    box-flex: 1;
    flex-grow: 1
}

@media (min-width:1256px) {
    .n2nH3e {
        bottom: 0;
        overflow-y: auto;
        position: fixed;
        top: 98px;
        width: 304px
    }
}

.vwhFIf {
    box-flex: 74.3;
    flex-grow: 74.3;
    flex-basis: 0
}

.vwhFIf.hBMPQb {
    max-width: 978px;
    margin: 0 auto;
    padding: 0 16px
}

@media (min-width:1256px) {
    .vwhFIf {
        min-height: 600px
    }

    .vwhFIf.hBMPQb {
        padding: 32px
    }
}

.QHju3e {
    box-flex: 0;
    flex-grow: 0;
    border-right: 1px solid rgba(151, 151, 151, .5);
    min-width: 304px
}

.fPNJre {
    min-height: 94px
}

.QM054c .ARpxub {
    display: block;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 2000
}

.qvoRwc .ARpxub {
    display: none
}

@media (max-width:1255px) {
    .tk9x4e {
        display: block
    }

    .QHju3e {
        display: none
    }

    .qvoRwc .fPNJre {
        min-height: 56px
    }

    .QM054c .fPNJre {
        min-height: 152px
    }

    .QM054c .ARpxub {
        position: relative
    }

    .qvoRwc .n2nH3e {
        display: none
    }

    .QM054c .n2nH3e {
        border-bottom: 1px solid rgba(151, 151, 151, .5)
    }
}

@media print {
    .fPNJre {
        display: none
    }

    .tk9x4e,
    .BWB3mf {
        display: block
    }
}

.zQTmif {
    height: 100%
}

.MCcOAc {
    display: flex;
    flex-direction: column
}

.SSPGKf {
    position: relative;
    min-height: 100%
}

.zQTmif {
    height: auto
}

.SSPGKf.BIIBbc {
    height: 100%;
    overflow: hidden
}

.T4LgNb {
    min-height: 100%;
    height: auto;
    position: relative
}

.T4LgNb.eejsDc {
    min-height: 100%;
    overflow-y: hidden;
    -webkit-overflow-scrolling: auto
}

.VjFXz {
    height: 56px
}

@media (min-width:600px) {
    .VjFXz {
        height: 64px
    }
}

#gb {
    position: fixed;
    left: 0;
    right: 0
}

.uirfo #gb {
    position: relative
}

.uirfo .VjFXz {
    height: 0
}

.uirfo .SSPGKf {
    min-height: calc(100vh - 56px);
    height: auto
}

@media (min-width:600px) {
    .uirfo .SSPGKf {
        min-height: calc(100vh - 64px);
        height: auto
    }
}

.smANld {
    padding-top: 12px
}

@media (max-width:647px) {
    .JVyQYe .SbNcad:first-child {
        padding-top: 16px
    }
}

sentinel {}